<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>form</title>
    </head>
  <style>
     body{
      margin:0;
      padding:0;
      background-color:  pink;
    }
    .main{
                 color: white;
                 margin-bottom: 10px;
                 font-size: 55px;
                 font-family: Stencil Std, fantasy;
             }
             .ok{color: white;
             margin-bottom: 10px;
             font-size: 50px;
             font-family: Stencil Std, fantasy;

             }
    </style>
  <body>
<br></br><br></br><br></br><br></br>
<center><p class="main">Thank you <%=data.name %>. Your response has been recorded. </p></center>
 <center><p class="ok"> We will contact to you at <%= data.email %></p></center>
</body>
</html>
